body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f2f6ff;
}

.hidden { display: none; }

/* AUTH */
.auth-container {
  background: #0a2cff;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

.auth-container input, button {
  padding: 14px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
}

button {
  background: #0a2cff;
  color: white;
  font-weight: bold;
}

button.outline {
  background: white;
  color: #0a2cff;
}

.small span {
  text-decoration: underline;
  cursor: pointer;
}

/* PAGES */
.page {
  padding: 15px;
  padding-bottom: 80px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-top: 15px;
}

/* MARQUEE */
.marquee {
  background: #0a2cff;
  color: white;
  padding: 10px;
  border-radius: 8px;
  animation: slide 15s linear infinite;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes slide {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

/* NAV BAR */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  border-top: 1px solid #ddd;
}

.bottom-nav button {
  flex: 1;
  background: none;
  color: #0a2cff;
  font-size: 12px;
}

.bottom-nav i {
  font-size: 18px;
  display: block;
}
