* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f6fa;
}

/* AUTH */
.center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 90%;
  max-width: 350px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

.card button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  background: #111;
  color: white;
  border-radius: 5px;
}

.card .secondary {
  background: #ddd;
  color: black;
}

/* APP */
#app-screen {
  display: none;
}

header {
  padding: 15px;
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
